body {
    background: rgba(0, 0, 0);
    color: white;
    text-align: center;
    margin: 0;
    padding: auto;
    overflow: hidden;
    font-weight: lighter !important;
}


/* ajustement du titre pour le centrer*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*forme du texte */

.texte {
    margin-top: 5%;
    height: 300px;
    width: 60vw;
    overflow: hidden;
}

span {
    font-size: 25px;
    margin: 0;
    padding: 0;
}

input,
p {
    background: none;
    outline: none;
    border: none;
    color: white;
    font-size: 25px;
}

.title {
    height: 100px;
    width: 100vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 60px;
}

.title h3 {
    position: absolute;
    right: 100px;
}

.st1 {
    text-align: left;
    position: relative;
    left: -25px;
    top: 25px
}

.st2 {
    text-align: right;
    position: relative;
    right: -25px;
    bottom: 25px
}